{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "svelteAllowShorthand": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
